{% extends 'admin/model/create.html' %}
{% block tail %}
{{ super() }}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
<script>
  var elem = document.getElementById("parent");
  elem.value = "{{ request.args.get('parent_id') }}";
//Костыльное решение для формирования селекта родителей
//selectValues = { "id1": "title1", "id2": "title 2" }; Сюда надо передать словарик родителей
//elem.type = 'select'
//$.each(selectValues, function(key, value) {
//     $('#parent')
//         .append($("<option></option>")
//         .attr("value",key)
//         .text(value));
//});

</script>
{% endblock %}
