<div class="header-container">
    <div class="header">
        <a href="/"><img src="{{ url_for('static', filename='images/logo.jpg') }}"></a>
        <img src="{{ url_for('static', filename='images/header/h1.png') }}">
        <img src="{{ url_for('static', filename='images/header/h2.png') }}">
        <img src="{{ url_for('static', filename='images/header/h3.png') }}">
        <img src="{{ url_for('static', filename='images/header/h4.png') }}">
        <img src="{{ url_for('static', filename='images/header/h5.png') }}">
        <img src="{{ url_for('static', filename='images/header/h6.png') }}">
        <img src="{{ url_for('static', filename='images/header/h7.png') }}">
        <img src="{{ url_for('static', filename='images/header/h8.png') }}">
    </div>
</div>
