{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='photoswipe/photoswipe.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='photoswipe/default-skin/default-skin.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slideshow.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pictures.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/speakers.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='video-js/video-js.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_menu.css') }}">

<script src="{{ url_for('static', filename='photoswipe/photoswipe.min.js') }}"></script>
<script src="{{ url_for('static', filename='photoswipe/photoswipe-ui-default.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='video-js/video.js') }}"></script>
<script src="{{ url_for('static', filename='js/vjs.youtube.js') }}"></script>
<script src="{{ url_for('static', filename='js/photo-swipe-initializer.js') }}"></script>

{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="menu_wrapper">
    {% include "menu-old.html" %}
</div>

<div class="b-header-separator"></div>

<div class="b-psi-logo">
    {% if locale == 'ru' %}
        <a href="{{ url_for('main.main') }}"><img src="{{ url_for('static', filename='images/psi-conf-logo-ru.png') }}"></a>
    {% else %}
        <a href="{{ url_for('main.main') }}"><img src="{{ url_for('static', filename='images/psi-conf-logo.png') }}"></a>
    {% endif %}
</div>

<div class="body-left-menu"></div>

<div class="body-content">
    {% block content %}
    {% endblock %}
</div>

<a href="#" id="back-to-top" title="Back to top">&uarr;</a>

<script type="text/javascript">
    if ($('#back-to-top').length) 
    {
        var scrollTrigger = 100, // px
            backToTop = function () 
            {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > scrollTrigger) 
                {
                    $('#back-to-top').addClass('show');
                } 
                else 
                {
                    $('#back-to-top').removeClass('show');
                }
            };

        backToTop();

        $(window).on('scroll', function () 
        {
            backToTop();
        });

        $('#back-to-top').on('click', function (e) 
        {
            e.preventDefault();
            $('html,body').animate( { scrollTop: 0 }, 700);
        });
    }
</script>


{% endblock %}
