{% extends "index.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick-carousel/slick/slick.css') }}"/>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick-carousel/slick/slick-theme.css') }}"/>

{% endblock %}




{% block content %}
<div class="container block">
    <div class="raw">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span class="b-main-title">{{ _('Dates') }}</span>
            {% for post in dates %}
                <div class="b-main-item">
                    <b><span>{{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}</span></b>
                    {% if locale == 'ru' %}
                        <span>{{ post.description_ru|safe }}</span><br>
                    {% else %}
                        <span>{{ post.description|safe }}</span><br>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span class="b-main-title">{{ _('News') }}</span>
            {% for news_item in news %}
                <div class="b-main-item">
                    <b><span>{{ news_item.date.strftime('%Y-%m-%d %H:%M:%S') }}</span></b>
                    {% if locale == 'ru' %}
                        <span>{{ news_item.content_ru|safe }}</span><br>
                    {% else %}
                        <span>{{ news_item.content|safe }}</span><br>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
      </div>
</div>
<br>
<div class="b-main-separator"></div><br>
<div class="container block">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >

      <span class="b-main-centered-title">{{_('Keynote Speakers')}}</span>

      <div data-slick='{"slidesToShow": 2, "slidesToScroll": 1, "prevArrow": "<span class=\"arrow-prev \">&lt;</span>", "nextArrow": "<span class=\"arrow-next \">&gt;</span>"}'>
        {% for speaker in speakers %}
        <div style="text-align:center;">
          {% if locale == 'en' %}
                <a href="{{ speaker.bio_reference_link }}"><img class="portrait"src="images/{{ speaker.photo.name }}"  alt="{{ speaker.name }}"></a>
                <p><a href="{{ speaker.bio_reference_link }}"><em>{{ speaker.name }}</em><br>
                  {{ speaker.country }}</a></p>
            {% else %}
            <a href="{{ speaker.bio_reference_link }}"><img class="portrait" src="images/{{ speaker.photo.name }}" alt="{{ speaker.name }}"></a>
                <p><a href="{{ speaker.bio_reference_link }}"><em>{{ speaker.name_ru }}</em><br>
                  {{ speaker.country_ru }}</a></p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
</div>
</div>
<div class="b-main-separator"></div><br>
<div class="container block">
    <span class="b-main-centered-title">{{_('Materials')}}</span>
    <div class="b-materials">
        <a class="b-video" href="{{ url_for('main.video') }}"></a>
        <a class="b-photo" href="{{ url_for('main.pictures') }}"></a>
    </div>
</div>


{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{{ url_for('static', filename='slick-carousel/slick/slick.min.js') }}"></script>
{% endblock %}
