{% macro add_submenu(parent_node) %}
<ul class="dropdown-menu">
    {% for child_node in parent_node.children %}
    {% if locale == 'en' %}
    <li {% if child_node.children %} class="dropdown-submenu" {% endif %} >
        <a href="{{ url_for('main.menu', title=child_node.value.title) }}">{{ child_node.value.title }}</a>
        {% else %}
    <li {% if child_node.children %} class="dropdown-submenu" {% endif %} >
        <a href="{{ url_for('main.menu', title=child_node.value.title) }}">{{ child_node.value.title_ru }}</a>
        {% endif %}

        {{add_submenu(child_node)}}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

<ul class="menu dropdown-menu">
    <li><a href="/">{{ _('Welcome') }}</a></li>

    <li {% if video_tags %} class="dropdown-submenu" {% endif %}>
        <a href="{{ url_for('main.video') }}">{{ _('Video') }}</a>
        {% if video_tags %} 
            <ul class="dropdown-menu">
                {% for tag in video_tags %}
                    {% if locale == 'en' %}
                        <li><a href="{{ url_for('main.video', tag=tag.get('en')) }}">{{ tag.get('en') }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.video', tag=tag.get('en')) }}">{{ tag.get('ru') }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>

    <li {% if picture_tags %} class="dropdown-submenu" {% endif %} > <a href="{{ url_for('main.pictures') }}">{{ _('Pictures') }}</a>
        {% if picture_tags %} 
            <ul class="dropdown-menu">
                {% for tag in picture_tags %}
                    {% if locale == 'en' %}
                        <li><a href="{{ url_for('main.pictures', tag=tag.get('en')) }}">{{ tag.get('en') }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.pictures', tag=tag.get('en')) }}">{{ tag.get('ru') }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>

    <li><a href="http://www.easychair.org/smart-program/PSI2015/">{{ _('Programme') }}</a></li>
    <li><a href="{{ url_for('main.speakers') }}">{{ _('Keynote Speakers') }}</a></li>

    {% for child_node in data %}
        {% if locale == 'en' %}
        <li {% if child_node.children %} class="dropdown-submenu" {% endif %} >
            <a href="{{ url_for('main.menu', title=child_node.value.title) }}">{{ child_node.value.title }}</a>
            {% else %}
        <li {% if child_node.children %} class="dropdown-submenu" {% endif %} >
            <a href="{{ url_for('main.menu', title=child_node.value.title) }}">{{ child_node.value.title_ru }}</a>
            {% endif %}

            {{add_submenu(child_node)}}
        </li>
    {% endfor %}
</ul>
